# see https://docs.docker.com/compose/compose-file/compose-versioning/
# version is deprecated in the latest compose spec.
# version: "3.5" # specify docker-compose version, v3.5 is compatible with docker 17.12.0+

# Define the services/containers to be run
services:
  sftp:
    image: emberstack/sftp
    volumes:
      - ./data/sftp.json:/app/config/sftp.json:ro
      - ./data/sftptest:/home/demo/sftp
    ports:
      - "2222:22"
