name: amqp
on:
  push:
    paths:
      - "amqp/**"
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: "16"
          distribution: "adopt"
      - name: Cache Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up RabbitMQ(via Docker Compose)
        run: |
          cd amqp
          docker-compose up -d
          sleep 10
          docker ps -a
      - name: Build with Maven(hello-amqp)
        run: |
          mvn -B -q clean package --file amqp/hello-amqp/pom.xml
          mvn -B -q verify --file amqp/hello-amqp/pom.xml -Pit
      - name: Build with Maven(spring-messaging-amqp)
        run: |
          mvn -B -q clean package --file amqp/spring-messaging-amqp/pom.xml
          mvn -B -q verify --file amqp/spring-messaging-amqp/pom.xml -Pit
      - name: Build with Maven(cafe-integration-dsl-amqp)
        run: |
          mvn -B -q clean package --file amqp/cafe-integration-dsl-amqp/pom.xml      
  